

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main {
    display: block;
    background-color: white;


}
.row{
    width: 100%;

}
